<table style="margin-top: 20px; margin-left: 50px;">
    <tr>
    <td>
         <h1 style="color: crimson;">
         <img src="assets/images/Header/purchase-Icone.png" style="width: 50px; height: 50px;">
         ErrzieqExpress</h1>
    </td>
    <td style="width: 200px;"></td>
    <td>
        <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="search for a product or category" aria-label="Search" style="width: 500px;">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
    </td> 
    </tr>
</table>
 
    
